<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertir PDF a Word</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2875255940749594"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="light-mode">
    <!-- Botón para cambiar el modo oscuro -->
    <button id="darkModeToggle">🌙 Modo Oscuro</button>

    <div class="container">
        <h2>Convertir PDF a Word</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" required>
            <button type="submit">Convertir</button>
        </form>
    </div>
</body>

<footer>
    <p>Desarrollado por [Duban Rengifo UDC]</p>
</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
